proc-num {
    proc {
        threshold_num:  
        alarm_ratio: 
    },

    thread {
        threshold_num: 
        alarm_ratio: 
    },
}

proc-key {
    name1 {
        recover_command: ""
        monitor_command: ""
        stop_command: ""
    }

    name2 {
        recover_command: ""
        monitor_command: ""
        stop_command: ""
    }
}