[Unit]
Description=sysDetector Management service
Requires=local-fs.target

[Service]
Type=simple
ExecStart=/usr/local/libexec/sysDetector/sysDetector-server
User=root
Group=root
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target